*
{margin: 0 0 0 0; padding: 0 0 0 0;
    font-family: 'Roboto Mono', monospace;}
    html {
        scroll-behavior: smooth;
      }


a{text-decoration: none; color:#8DD668;z-index:2000}

ul {list-style-type: none;}
li{margin: -4px -4px -4px -4px; width:auto;}
body{ background-image: url("../assets/bkg.gif"); background-size:50%; background-attachment: fixed; background-position: top; background-repeat: no-repeat; background-size: cover;}
table{ width:auto; border-spacing: 0 2px;
    border: 5px solid transparent;
    border-image: url(../assets/ui/table-border.png) 5 stretch;
    box-shadow: 
    3px 3px 15px rgba(60, 40, 73, 0.5),
    -5px -5px 5px rgba(0, 0, 0, 0.8);    
    }  

td{padding:2pt 2pt 2pt 2pt;}
.dotted-line,hr{border-bottom:1px solid white; 
    border-image: url(../assets/ui/table-border.png) 1.5 stretch;}



.hud{position:fixed; border-spacing: 0; }
    .nav{float:left; background-color:black; box-shadow: 5px 5px 10px black; margin-right:10px; z-index:1000;}
    .status{float:left; box-shadow: 5px 5px 20px black; background-color:rgba(0,0,0,0.9); border-color:#130717; border-style: inset; margin-top:-5px; z-index:900;}
    .name{background: rgb(0,0,0);
        background: -moz-linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(12,52,61,1) 90%);
        background: -webkit-linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(12,52,61,1) 90%);
        background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(12,52,61,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0c343d",GradientType=1);}


hr{margin-top:5px;margin-bottom: 5px; border-top: 1px dotted #416C76;}

p{font-size:10pt;}p.desc{font-size:12pt;padding:5px 5px 5px 5px}

.pad-left{padding-left:8pt;}
.font-oswald{font-family: 'Oswald', sans-serif;text-transform: uppercase;letter-spacing:2pt;}
.text-center,h5{text-align: center;}

.section-header{
    background-image: linear-gradient(to bottom right,#76A5AF, #416C76);
}


/* ---------COLORS---------- */
    .text-darkest{color:#130717;}
    .text-dark{color:#061B20;}
    .text-mid{color:#0C343D;}
    .text-light{color:#76A5AF;}
    .text-lightest,b,.fas{color:#CFDFDD;}
    .text-green{color:#8DD668}
    .text-red{color:#EF5656}
    .text-blue{color:#6BAAFF}
    .text-yellow{color:#FFD666}

    .bg-darkest{background-color:#130717}
    .bg-dark{background-color:#061B20;}
    .bg-mid{background-color:#0C343D;}
    .bg-light{background-color:#416C76;}
    .bg-lightest{background-color:#CFDFDD;}
    .bg-red{background-color:#EF5656}
    .bg-yellow{background-color:#FFD666}





/* Vertical Mode */
@media only screen and (max-width: 600px) {
.horizontal{display:none;}
.spacer{padding-bottom:200px;}
li{display:inline-block}
.nav{width:100%}
.status{left:0; top:60px;}
.section{width:100%;}
}

/* Horiztonal Mode */
@media only screen and (min-width: 600px) {
.vertical{display:none;}
.section{margin-left:10%;min-width:90%;}
.spacer{padding-bottom:120px;}
.nav{height:max-content; overflow:hidden; background-repeat: repeat-y;}
.status{left:60px; top:0px; width:90%;}
}

/* Desktop Mode */
@media only screen and (min-width: 1000px) {
    p{font-size:larger; padding: 10px 10px 10px 10x}


    .vertical{display:none;}
    .section{margin-left:10%; margin-right:10%; min-width:80%;}
    .spacer{padding-bottom:120px;}
    .nav{height:max-content; overflow:hidden; background-repeat: repeat-y;}
    
    .status{left:60px; top:0px; width:90%;}
    }

@media only screen and (max-width: 400px) {
li{width:55px;}
}