body{
    padding:0 0 0 0;
    margin: 0 0 0 0;
    background-color:#0C343D !important;
    } 


iframe {

    border: 0;
    transform-origin: 0 0; 
    width:100%;
    }


    iFrame::-webkit-scrollbar {
        display: none;
    }
    
#hud{top:34px;left:0px;position:fixed;}

#header{position:fixed; height:134px;}

#status{height:793px;}
#checks{height:581px;}
#equip{height:1255px;}
#items{height:637px;}
#log{height:1077px;}

#testing{width:100%; height:684px;}