body{
    padding:0 0 0 0;
    margin: 0 0 0 0;
    background-color:#0C343D !important;
    } 


iframe {

    border: 0;
    transform-origin: 0 0; 
    width:100%;
    overflow:hidden;
    }


    iFrame::-webkit-scrollbar {
        display: none;
    }