* {
    margin: 0;
    padding: 0;
    }

    .container{margin-right:0px;}
.section, .nav{z-index:0 !important; border-style: outset;
    border-width: 2px;
    border-color: #76A5AF;
border-radius: 5px;}

.icon{width:48px !important;margin: 0 0 0 0 !important; padding: 0 0 0 0 !important;}

svg{z-index:100;}
.row,.col{z-index: inherit;}
p,h1{margin-bottom:0 !important}
h1,h2,h3,h4,h5,h6{font-family: 'Roboto Mono', monospace !important;}

h5,h1,h2,h3,h4,a,li,p{
    font-family: 'Open Sans', sans-serif;
    color:#76A5AF;

}

.color-yellow{
    color:#F9C158}



    .container {background-color:#0C343D; z-index:100;}
    .row, .col{z-index: inherit;}
    .hud {position:fixed; width:100%; z-index:1000 !important;}
    .navigation {z-index:1200;float:left;width:auto; background-color:#061B20;border-radius: 10px;border: 1pt solid #76A5AF; box-shadow: 2px 2px #76A5AF;}
    .status{background-color:#130717; z-index:900;}

    ul {list-style-type: none;}
    .hud-el{display:inline-block;}
    
    body{background-color:#130717 !important; color:#76A5AF !important;}


/* HORIZONTAL MODE */
@media screen and (min-device-width:500px), screen and (min-width:500px)    {
    .vertical{display:none;}
    .top-spacer{height:120px;padding-left:200px;}
    .container{margin-left:58px !important;}
    .navigation{margin-left:-5px;margin-top:-2px; padding-top:10px;}
    .section{margin-left:70px !important;}
}

/* VERTICAL MODE */
@media screen and (max-device-width:500px), screen and (max-width:500px)    {
    li {float: left;}
    .horizontal{display:none}
    .top-spacer{padding-top:187px;padding-left:200px;}
    .navigation{margin-top:-5px;margin-left:-5px;padding-left:15px;padding-top:15px;width:100%;}
    #status{padding-left:15px;padding-right:15px; }
    .section{width:98% !important;}
    
}



